body {
  margin: 0;
}

.mission-container {
  width: 90%;
}

.mission-container h2,
.mission-name {
  font-size: 1.4rem;
  font-weight: 500;
}

.not-member-btn {
  background-color: #6d757d;
  border-radius: 10px;
  width: 11rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
}

.join-mission-btn {
  background-color: transparent;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
  color: #343a40;
  font-size: 1.4rem;
  border: 1px solid #343a40;
}
